@import "tailwindcss";
@import "@nuxt/ui-pro";
@import "./scrollbar.css";

@theme {
  --font-sans: 'Geist', sans-serif;
}

:root {
  --ui-container: var(--container-3xl);
  --ui-primary: black;
}

.dark {
  --ui-bg: #0B0B0B;
  --ui-primary: white;
}