@import "tailwindcss";
@import "@nuxt/ui";
@import "./scrollbar.css";

@theme {
  --font-sans: 'Geist', sans-serif;
  --font-mono: 'Geist Mono', monospace;
}

@keyframes shimmer {
  0% {
    background-position: 100%
  }

  to {
    background-position: -50%
  }
}

.group\/elements:hover .group-hover\/elements\:animate-shimmer-once {
  animation: shimmer 1s ease-in-out forwards
}

:root {
  --ui-container: var(--container-3xl);
  --ui-primary: black;
}

.dark {
  --ui-bg: #020202;
  --ui-primary: white;
}